<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{{ url_for('master.home') }}">My Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('master.home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('master.page2') }}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('master.page3') }}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('master.page4') }}">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('todo.todo') }}">Todo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('cookie.info') }}">Info</a>
            </li>
            {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('authet.register') }}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('authet.login') }}">login</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.users') }}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.account') }}">Account</a>
            </li>

            <li class="nav-item">
                <a class="btn btn-primary" href="https://github.com/maryansnake">Contact</a>
            </li>
        </ul>
    </div>
</nav>